html {
  font-size: 14px;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}
/*
html {
  position: relative;
  min-height: 100%;
}*/

body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.main-content {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.sidebar {
    width: 250px;
    transition: width 0.3s;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.sidebar.collapsed {
    width: 80px;
}

.sidebar .nav-link{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar.collapsed .nav-link{
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}

.sidebar.collapsed .nav-link .txt{
    display: none;
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

main{
    flex-grow: 1;
}

.sidebar .nav {
    flex-grow: 1;
}

@media (max-width: 767px) {

    .sidebar {
        width: 50px;
    }

        .sidebar .nav-link .txt {
            display: none;
        }

        .sidebar .nav-link {
            text-align: center;
            /*padding-left: 0;
            padding-right: 0;*/
        }
}

@media (min-width: 768px) {
    .main-content {
        flex-direction: row;
    }
}